*{
    margin: 0;
    padding: 0;

  }
  .mar{ 
    margin-top: 10px;
    height: 100%; 
  }
  
  .flex {
    display: flex;
  }
  .components {
    margin-left: 1px;
    width:100%;
    height:100vh; 
  }
  
.card-body {
  color: black;
  background-color: #7da4a7ff;
}
