:root{
  --skobeloff: #006165ff;
  --teal: #2d7f83ff;
  --cadet-blue: #7da4a7ff;
  --ash-gray: #bfd0d1ff;
  --platinum: #e6ececff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btns{
  background-color: var(--skobeloff) !important;
  color: var(--platinum) !important;
  border: none !important;
}
.btns-light{
  background-color: var(--platinum) !important;
  color: var(--skobeloff) !important;
  border: none !important;
}
.btns-light:hover{
  background-color: var(--skobeloff) !important;
  color: var(--platinum) !important;
  border: none !important;
}
.btns:hover{
  background-color: var(--platinum) !important;
  color: var(--skobeloff) !important;
  border: none !important;
}
.btns:focus{
  box-shadow: none !important;
}
.btns-light:focus{
  box-shadow: none !important;
}